<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="#" th:action="@{'/englishWord/edit/' + ${englishWord.id}}" method="post" th:object="${englishWord}">
        <table>
            <tr>
                <th>English Word</th>
            </tr>
            <tr>
                <td>
                    <input type="text" th:field="${englishWord.word}"/>
                </td>
                <td th:class="${#fields.hasErrors('word')}" th:errors="*{word}"></td>
            </tr>

            <tr>
                <th>Pronunciation</th>
            </tr>
            <tr>
                <td>
                    <input type="text" th:field="${englishWord.pronunciation}"/>
                </td>
            </tr>
            <tr>
                <th>Translation</th>
            </tr>
            <tr>

                <td>
                    <input type="text" th:field="${englishWord.translation}"/>
                </td>
                <td th:class="${#fields.hasErrors('translation')}" th:errors="*{translation}"></td>
            </tr>
        </table>
        <input type="submit" value="Edit">
    </form>
</div>
</body>
</html>