<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>

        .container {
            text-align: center;
        }
        .form {
            display: inline-block;
            text-align: center;
            padding-top: 100px;
        }

        .input-group {
            padding-top: 10px;
        }


    </style>
</head>
<body>
<div class="container">
    <div class="form">
        <h1>Login page</h1>
        <form th:action="@{/user/login}" method="post">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                    <input type="password" id="password" name="password"/> <br/>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    <input type="text" id="username" name="username"/> <br/>
                </div>
            </div>
            <input type="submit" value="Log in"/>
            <div class="form-group">
                <span>New user? <a href="/" th:href="@{/user/registration}">Register here</a></span>
            </div>
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid username or password.
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>